.fl-builder-content {
  .fl-module {
    &:first-child .content-grid-container {
      border-top: none;
    }

    .content-grid-container {
      padding: 5.188rem 0;
      border-top: 1px dashed #343434;
    }
  }
}

.content-grid-container {
  grid-template-columns: 100% !important;
  gap: 4.438rem;

  @media(min-width: 992px) {
    grid-template-columns: repeat(2, calc(50% - 2.2rem)) !important;
  }
}

.content-grid__item-slider__item {
  img {
    width: 100%;
    object-fit: cover;
  }
}

.content-grid__item-content {
  .text-container {
    p {
      color: #000 !important;
    }
  }

  .button-container {
    margin-top: 4.188rem;
    display: flex;
    gap: 2.5rem;
    flex-wrap: wrap;
  }

  &.content-left {
    order: 2;
  }

  &.content-right {
    order: 2;
  }

  @media(min-width: 992px) {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &.content-left {
      order: 0;
    }

    &.content-right {
      order: 2;
    }

    .title-container {
      &.title-left {
        text-align: left !important;
      }

      &.title-right {
        text-align: right !important;
      }
    }
  }
}