.hero-banner {
  margin-bottom: 4rem;
}

.hero-banner-content {

  .title-container {
    color: #FCFCFC;
    text-align: center;
  }

  .arrow-down-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3.125rem;

    .arrow-down {
      width: 56px;
      height: 56px;
      background-color: #fcfcfc;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      cursor: pointer;
    }
  }
}

.hero-banner-form {
  .get-a-quote {
    background-color: #FCFCFC;
    border-radius: 1.5rem;
    padding: 2rem;

    .title-container {
      margin-bottom: 38px;

      h2 {
        color: #004936;
        letter-spacing: 1px;
        font-weight: 700;
      }
    }

    .information-form {
      margin-top: 1.5rem;

      p {
        font-weight: 500;
        font-size: 13px;
        line-height: 22px;
        letter-spacing: 0.25px;
        color: #A0A3BD;
      }
    }
  }
}

@media(min-width: 992px) {

  .hero-banner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }

  .hero-banner_container {
    display: flex;

    .hero-banner-content {
      .title-container {
        h1 {
          font-size: 64px;
          font-weight: 700;
          line-height: 88px;
          letter-spacing: 1px;
        }

        h2 {
          font-size: 20px;
          font-weight: 400;
          line-height: 32px;
          letter-spacing: .75px;
        }
      }
    }

  }

  .hero-banner-form {
    width: 520px;

    .get-a-quote {
      .title-container {


        h2 {
          font-size: 40px;
          line-height: 48px;

        }
      }
    }
  }

}

@media(min-width: 1232px) {

  .hero-banner {
    height: 800px;
  }

  .hero-banner_container {
    display: flex;
    flex-basis: 58%;
    justify-content: space-between;
    align-items: center;

    .hero-banner-content {
      max-width: 678px;
    }

  }



}