.feedback {
  margin: 4rem 0;
}

.feedback_container {
  max-width: 800px;
  margin: 0 auto;

  .title-container {
    h2 {
      color: #27AF00;
      letter-spacing: 1px;
      font-size: 24px;
      list-style: 34px;
      font-weight: 700;
    }
  }

  .tns-outer {
    position: relative;
    margin-top: 2rem;
  }

  .tns-controls {
    display: none;

    button {
      width: 56px;
      height: 56px;
      border-radius: 50%;
      border: none;
      background-color: #27AF00;
      color: #fff;
      font-weight: 900;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      transition: transform .5s ease;

      &:after {
        content: '';
        position: absolute;
        display: block;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        width: 12px;
        height: 12px;
        border-radius: 3px;
        border-top: 3px solid #fff;
        border-right: 3px solid #fff;

      }

      &:first-child {
        left: -5.375rem;

        &::after {
          transform: rotate(-135deg) translateX(-1px);
        }

      }

      &:last-child {
        right: -5.375rem;

        &::after {
          transform: rotate(45deg) translateY(1.5px);
        }
      }

      &:hover {
        transform: translateY(-50%) scale(.9);
      }
    }
  }

  .tns-nav {
    display: flex;
    gap: .5rem;
    margin-top: 3rem;

    button {
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: #A0A3BD;
      border: none;
      transition: width .5s ease, background-color .5s ease;

      &.tns-nav-active {
        width: 16px;
        background-color: #004936;
        border-radius: 4px;
        transition: width .5s ease, background-color .5s ease;
      }
    }
  }
}

.feedback-slider-container--item {
  //margin: 2rem 0 0;
  //box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.04);
  border-radius: 32px;
  background: #F4F4F4;
  padding: 3rem;
  box-sizing: border-box;

  .text-container {
    margin: 1.5rem 0;
    font-weight: 400;
    font-size: 1rem;
    letter-spacing: 0.75px;
    color: #004936;
  }

  .person-container {
    h3 {
      color: #004936;
      letter-spacing: 0.75px;
      font-weight: 600;
      font-size: 1rem;
    }

    span {
      font-weight: 600;
      font-size: 15px;
      line-height: 24px;
      letter-spacing: 0.75px;
      color: #27AF00;
    }
  }
}

@media(min-width: 992px) {

  .feedback_container {

    .title-container {
      h2 {
        font-size: 2.5rem;
        line-height: 48px;
      }
    }
  }

  .feedback-slider--item {
    .text-container {
      font-size: 1.25rem;
      line-height: 32px;
    }

    .person-container {
      h3 {
        font-size: 20px;
        line-height: 32px;
      }
    }
  }

}

@media(min-width: 1232px) {
  .feedback_container {
    .tns-controls {
      display: block;
    }
  }
}